################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MyProjects/v15/Browse.VC.opendb
/.vs/MyProjects/v15/Browse.VC.db
